.works-info {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  display: flex;
}
 
.works-info span {
  background-color: rgba(79, 201, 179, 0.26);
  color: #3bd0b5;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.works-info a {
  color: #ff347d;
}

.work-info-value {
  word-wrap: break-word;
}
