.nav-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 222;
}
.nav-container ul {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container ul li {
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.nav-container ul li a:hover {
  color: #3bd0b5;
}

.nav-mobile-container {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-mobile-container .top-nav {
  padding: 0 20px;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-mobile-container .top-nav .top-nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-mobile-item-container {
  background-color: #313134;
  position: absolute;
  width: 180px;
  right: 20px;
  z-index: 2;
  border-radius: 10px;
  margin-top: 10px;
}

.nav-mobile-item-container.hidden {
  visibility: hidden;
}

.nav-mobile-item-container ul li {
  list-style: none;
  padding: 10px;
}

.nav-mobile-item-container ul li:hover {
  background-color: #4b4b4f;
}

.nav-mobile-item-container ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.angry-animate {
  -webkit-animation: appear 0.5s ease 0s 1 normal;
  -moz-animation: appear 0.5s ease 0s 1 normal;
  -ms-animation: appear 0.5s ease 0s 1 normal;
  animation: appear 0.5s ease 0s 1 normal;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.appear-out {
  -webkit-animation: appear-out 0.3s linear forwards;
  -moz-animation: appear-out 0.3s linear forwards;
  -ms-animation: appear-out 0.3s linear forwards;
  animation: appear-out 0.3s linear forwards;
}

@-webkit-keyframes appear-out {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
}

@keyframes appear-out {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
}
