.works-card-wrapper {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.works-card-wrapper img {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
}

.works-card-wrapper a {
  color: white;
}

.works-card-wrapper p {
  margin-top: 10px;
}
