.dashboard-wrapper {
  width: 100%;
}

.list-works-wrapper {
  width: 100%;
  padding: 0 20px;
}

.list-workd-card {
  margin: 10px 0;
  background-color: #414145;
  display: flex;
  padding: 20px;
  border-radius: 10px;
}
.list-workd-card img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.work-info p {
  font-size: 11px;
}

@media (max-width: 576px) {
  .list-workd-card {
    text-align: center;
    margin-bottom: 20px;
    display: block;
  }
}
